body{
    background-image: url("donate-today-main/image/donation16.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 2px;
    font-family: 'Poppins', sans-serif;
}

#top-header{
    margin-top: 4%;
    font-size: 50px;
    color: whitesmoke;
    text-align: center;
    font-weight: 700;
    
}
#second-top-header{
    font-size: 50px;
    color: whitesmoke;
    text-align: center;
    font-weight: 700;
}

#top-paragraph{
    color: white; 
}

.inspired-paragraph{
    font-size: 16px;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}




.donate-button{
    background-color: tomato;
    border-radius: 5%;
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin: 0% 44% 44% 44%;
    padding: 1%;

}

.donate-banner-header{
    text-align: center;
    font-size: 40px;
    margin-top: 250px;
    font-weight: 700;

}


.amount-banner-section{
    display: flex;
    margin-left: 25%;
    

}


.amount-button{
    background-color: rgba(218, 218, 218, 0.1);
    padding:1% 2% 1% 2%;
    margin: 5px;
    border-radius: 5px;
    font-size: 25px;

    
}

#marked-button{
    background-color: rgba(255, 199, 227, 0.2);
    padding: 1% 2% 1% 2%;
    margin: 5px;
    border-radius: 5px;
    font-size: 25px;
    border: 1px solid tomato;

}

#footer{
    background-color: rgb(10, 10, 37);
    padding: 65px;
}

#other-amount{
    text-align: center;
}

hr{
    width: 70%;
}

.plan-box{
    padding:2%;
    margin-right: 15px;
    border-radius: 5px;
}
.plan-box p{
    font-size: 15px;
}

#box-pest-color{
    background-color: rgba(237, 245, 246);

}

#box-pink-color{
    background-color: rgba(255, 238, 238);

}

#box-off-white-color{
    background-color: rgba(255, 244, 214);

}